// Vendors
// @import './vendors/vendors';

// base
@import './base/variables';

// components
@import "./components/sidebar";
@import "./components/bankcard";
@import "./components/badgeicon";
@import "./components/slider";
@import "./components/table";

// pages
@import './pages/dashboard';
@import "./pages/mywallet";
@import "./pages/invoice";
@import "./pages/transactionhistory.scss";
@import "./pages/card-center.scss";


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7e7e7e;
    text-align: left;
    background-color: #F4F4F4;
    overflow-x: hidden;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}



// nav 
.btn {
    background-color: $primary-color;
    border-radius: 14px;
    outline: none;
    border: none;
}


.main-wrapper {
    width: 100%;
}




