@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");
.sidebar {
  width: 240px;
  position: fixed;
  margin: 15px;
  border-radius: 20px;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: #fff;
  transition: all 0.3s; }
  .sidebar ul li {
    margin: 15px 0 0 22px; }
    .sidebar ul li a {
      padding: 16px 36px;
      border-radius: 14px;
      color: #000;
      opacity: 50%; }
      .sidebar ul li a:hover {
        color: #5bcfc6;
        background-color: #ecf8f6;
        opacity: 100%; }
      .sidebar ul li a i {
        padding-right: 10px;
        font-size: 24px;
        font-weight: bold; }
    .sidebar ul li .active {
      color: #5bcfc6;
      background-color: #ecf8f6; }
    .sidebar ul li .user {
      border: 1px solid #5bcfc6; }

.bankcard {
  margin-top: 14px;
  outline: none;
  border: none;
  padding-right: 20px; }
  .bankcard .card {
    width: 320px;
    height: 190px; }
  .bankcard .card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url("https://image.ibb.co/bVnMrc/g3095.png"), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879);
    /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
  .bankcard .card__front {
    padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0); }
  .bankcard .card__back {
    padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg); }
  .bankcard .card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030; }
  .bankcard .card__logo {
    height: 16px; }
  .bankcard .card__front-logo {
    position: absolute;
    top: 18px;
    right: 18px; }
  .bankcard .card__square {
    border-radius: 5px;
    height: 30px; }
  .bankcard .card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; }
  .bankcard .card__space-75 {
    width: 75%;
    float: left; }
  .bankcard .card__space-25 {
    width: 25%;
    float: left; }
  .bankcard .card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px; }
  .bankcard .card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .bankcard .card__back-content {
    padding: 15px 15px 0; }
  .bankcard .card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px; }
  .bankcard .card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position: relative; }
  .bankcard .card__secret:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 42px);
    border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px); }
  .bankcard .card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px; }
  .bankcard .card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px; }
  .bankcard .card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); }
  .bankcard .card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg); }

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 0 6px; }

.icon-button:hover {
  cursor: pointer; }

.icon-button:active {
  background: #cccccc; }

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */ }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 3px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 5px; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

.table-wrapper {
  min-width: 1000px;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0; }

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px; }

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px;
  vertical-align: middle; }

table.table tr th:first-child {
  width: 60px; }

table.table tr th:last-child {
  width: 100px; }

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc; }

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5; }

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer; }

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px; }

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none; }

table.table td a:hover {
  color: #2196F3; }

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px; }

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px; }

.text-success {
  color: #10c469; }

.text-info {
  color: #62c9e8; }

.text-warning {
  color: #FFC107; }

.text-danger {
  color: #ff5b5b; }

.task {
  color: #fff;
  padding: 10px 16px;
  border-radius: 16px;
  font-weight: bold; }

.completed {
  color: #6ce46a;
  background-color: #ecffeb; }

.pending {
  color: #fe7a7a;
  background-color: #ffeded; }

.cancelled {
  color: #aaaeb1;
  background-color: #efefef; }

.clearfix {
  padding-top: 45px; }

.pagination {
  float: right;
  margin: 0 0 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px; }

.pagination li a {
  border: none;
  font-size: 13px;
  font-weight: bold;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px; }

.pagination li a:hover {
  color: #666; }

.pagination li.active a, .pagination li.active a.page-link {
  background: #5bcfc6; }

.pagination li.active a:hover {
  background: #5bcfc6; }

.pagination li.disabled i {
  color: #ccc; }

.pagination li i {
  font-size: 16px;
  padding-top: 6px; }

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px; }

.content {
  margin-left: 255px; }
  .content .card {
    border-radius: 20px;
    color: #fff; }
    .content .card i {
      font-size: 30px; }
  .content .barchart {
    background-color: #FFF;
    border-radius: 20px;
    padding: 10px; }
  .content .card_and_graph {
    background-color: #FFF;
    border-radius: 20px;
    padding: 10px; }
  .content .usercard {
    background-color: #fff; }
    .content .usercard .user img {
      border-radius: 50%; }
  .content .status-table {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px; }
    .content .status-table .mwt .active {
      border-bottom: 2px solid #5bcfc6; }
  .content .para {
    background-color: #5bcfc6;
    border-radius: 20px;
    padding: 10px 0;
    color: #fff; }
    .content .para i {
      color: #fff;
      padding: 20px;
      background-color: #5bcfc6;
      border-radius: 20px; }
  .content .invoice-detail {
    background-color: #FFF;
    border-radius: 20px;
    padding: 15px 20px; }
    .content .invoice-detail i {
      padding: 7px 15px;
      font-size: 15px;
      border-radius: 10px;
      color: #fff; }

.threedot {
  position: relative;
  color: #000;
  margin: 10px 5px 0 0; }

.threedot:after {
  content: '•••';
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 10px;
  letter-spacing: 4px;
  margin-top: 2px;
  cursor: pointer; }

.dropdown-content {
  display: none;
  position: relative;
  margin-top: 20px;
  background-color: #f9f9f9;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 12px; }
  .dropdown-content a i {
    font-weight: lighter; }

.show {
  display: block; }

.page-dashboard .user-profile {
  padding: 12px;
  border-radius: 10px;
  background-color: rgba(91, 207, 198, 0.4); }
  .page-dashboard .user-profile .img-holder img {
    display: block;
    width: 34px;
    border-radius: 4px;
    overflow: hidden; }
  .page-dashboard .user-profile .icon-holder {
    width: 28px;
    font-size: 28px;
    max-width: 28px;
    text-align: right; }
.page-dashboard .col-tb {
  display: table;
  width: 100%; }
.page-dashboard .col-tb-cell {
  display: table-cell;
  vertical-align: top; }

.mywallet .mainbalance {
  color: #000; }
  .mywallet .mainbalance .card-full-detail {
    padding: 10px; }
    .mywallet .mainbalance .card-full-detail .card-detail h5 {
      font-size: 12px; }
  .mywallet .mainbalance .progress {
    border-radius: 20px; }
.mywallet .wallet-balance {
  color: #fff;
  background-color: #4a6ecc;
  position: relative; }
  .mywallet .wallet-balance .circle-1, .mywallet .wallet-balance .circle-2 {
    width: 35px;
    height: 35px;
    border-radius: 50%; }
  .mywallet .wallet-balance .circle-1 {
    background-color: #f4f4f4;
    opacity: .5; }
  .mywallet .wallet-balance .circle-2 {
    background-color: #f4f4f4;
    position: absolute;
    left: 43px;
    top: 20px;
    z-index: 99;
    opacity: .5; }
  .mywallet .wallet-balance h3 {
    padding-top: 20px; }
  .mywallet .wallet-balance .details {
    margin-top: 20px;
    background-color: #eceff8;
    border-radius: 20px; }
    .mywallet .wallet-balance .details .icon {
      padding-top: 20px; }
      .mywallet .wallet-balance .details .icon i {
        padding: 16px;
        border-radius: 14px;
        font-size: 16px;
        text-align: center; }
      .mywallet .wallet-balance .details .icon p {
        font-size: 12px;
        padding-top: 10px;
        color: black;
        text-align: center; }
.mywallet .usercard {
  color: black; }
  .mywallet .usercard h4 {
    font-size: 18px;
    font-weight: bold; }
  .mywallet .usercard p {
    font-size: 12px; }
  .mywallet .usercard .chats {
    border-bottom: 1px solid black;
    padding: 10px 0; }
    .mywallet .usercard .chats img {
      border-radius: 50%;
      padding-right: 20px; }
    .mywallet .usercard .chats .username h5 {
      font-size: 14px;
      font-weight: bold;
      margin: 0; }
    .mywallet .usercard .chats .username small {
      font-size: 11px;
      padding: 0;
      margin: 0; }
    .mywallet .usercard .chats .prize h5 {
      font-size: 14px;
      font-weight: bold;
      padding-left: 15px; }

.invoice .payment {
  padding-bottom: 65px; }
  .invoice .payment input {
    border: 2px solid #5bcfc6;
    padding: 8px;
    border-radius: 10px;
    max-width: 150px;
    text-align: center; }
    .invoice .payment input :hover, .invoice .payment input :focus, .invoice .payment input :active {
      outline: none;
      border: 1px solid #5bcfc6; }
.invoice .filterbtn {
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #5bcfc6;
  font-size: 13px;
  font-weight: 600; }
  .invoice .filterbtn i {
    color: #5bcfc6; }

.transaction-history {
  color: #000; }
  .transaction-history .user {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px; }
    .transaction-history .user .user-proof {
      border-bottom: 1px solid #eaeaea; }
      .transaction-history .user .user-proof .phone i, .transaction-history .user .user-proof .email i, .transaction-history .user .user-proof span {
        color: #241d6a;
        font-weight: 600; }
      .transaction-history .user .user-proof .printbtn {
        padding: 8px 16px;
        background-color: #eaeaea;
        border: none;
        outline: none;
        border-radius: 15px;
        margin-right: 10px; }
        .transaction-history .user .user-proof .printbtn a {
          color: #fff; }
      .transaction-history .user .user-proof .downloadbtn a {
        color: #fff; }
    .transaction-history .user .user-table span {
      font-weight: 600; }
    .transaction-history .user .user-table .money {
      background-color: #fef6e1;
      padding: 14px 20px;
      border-radius: 15px; }
      .transaction-history .user .user-table .money .doller {
        padding: 5px 14px;
        color: #fff;
        background-color: #ff7427;
        border-radius: 10px;
        margin-right: 20px; }
  .transaction-history .description {
    background-color: #fff;
    border-radius: 20px; }
  .transaction-history .wallet-balance {
    color: #fff;
    background-color: #4a6ecc;
    position: relative; }
    .transaction-history .wallet-balance .circle-1, .transaction-history .wallet-balance .circle-2 {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #97a9d7; }
    .transaction-history .wallet-balance .circle-2 {
      position: absolute;
      left: 45px;
      top: 20px; }
    .transaction-history .wallet-balance h3 {
      padding-top: 20px; }
    .transaction-history .wallet-balance .details {
      margin-top: 20px;
      background-color: #eceff8;
      border-radius: 20px; }
      .transaction-history .wallet-balance .details .icon {
        padding-top: 20px; }
        .transaction-history .wallet-balance .details .icon i {
          padding: 16px;
          border-radius: 14px;
          font-size: 16px;
          text-align: center; }
        .transaction-history .wallet-balance .details .icon p {
          font-size: 12px;
          padding-top: 10px;
          color: black;
          text-align: center; }

.status-button {
  background-color: #fff;
  padding: 7px;
  border-radius: 20px; }
  .status-button .btn {
    font-size: 12px; }
  .status-button a {
    color: #000;
    padding: 0 10px; }

.card-center .card {
  color: #000; }
.card-center .filterbtn {
  padding: 8px 14px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #5bcfc6;
  font-size: 13px;
  font-weight: 600; }
  .card-center .filterbtn i, .card-center .filterbtn a {
    color: #5bcfc6; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  text-align: left;
  background-color: #F4F4F4;
  overflow-x: hidden; }

a, a:hover {
  text-decoration: none;
  color: #000; }

.btn {
  background-color: #5bcfc6;
  border-radius: 14px;
  outline: none;
  border: none; }

.main-wrapper {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
