// dashboard content starts 
.content{
    margin-left: 255px;
    // background: #fff;

    .card {
        border-radius: 20px;
        color: #fff;
        // padding-left: 15px;

        i {
            font-size: 30px;
        }

    }

    .barchart {
        background-color: #FFF;
        border-radius: 20px;
        padding: 10px;


    }

    .card_and_graph {
        background-color: #FFF;
        border-radius: 20px;
        padding: 10px;
    }

    .usercard {
        background-color: #fff;

        .user img{
            border-radius: 50%;
        }
    }

    .status-table {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;

        .mwt .active{
            border-bottom: 2px solid $primary-color;
        }
    }

    .para {
        background-color: $primary-color;
        border-radius: 20px;
        padding: 10px 0;
        color: #fff;
         
        i {
            color: #fff;
            padding: 20px;
            background-color: $primary-color;
            border-radius: 20px;

        }
    }

    .invoice-detail {
        background-color: #FFF;
        border-radius: 20px;
        padding: 15px 20px;

        i{
            padding: 7px 15px;
            font-size: 15px;
            border-radius: 10px;
            color: #fff;
        }
    }
    
}
// three dot 
.threedot {
    position: relative;
    color: #000;
    margin:10px 5px 0 0 ;
  }
  .threedot:after {
    content: '•••';
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 10px; 
    letter-spacing: 4px;
    margin-top: 2px;
    cursor: pointer;
}

// three dot click dropdown 
.dropdown-content {
    display: none;
    position: relative;
    margin-top: 20px;
    background-color: #f9f9f9;
    // min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 12px;

    i {
        font-weight: lighter;
    }
}

.show {display:block;}











// dashboard content ends 
.page-dashboard {
    .user-profile {
        padding: 12px;
        border-radius: 10px;
        background-color: rgba($primary-color, 0.4);
        .img-holder {
            img {
                display: block;
                width: 34px;
                border-radius: 4px;
                overflow: hidden;
            }
        }
        .icon-holder {
            width: 28px;
            font-size: 28px;
            max-width: 28px;
            text-align: right;
        }
    }
    .col-tb {
        display: table;
        width: 100%;
    }
    .col-tb-cell {
        display: table-cell;
        vertical-align: top;
    }
}