.invoice {

    .payment {
        padding-bottom: 65px;

        input {
            border: 2px solid $primary-color;
            padding: 8px;
            border-radius: 10px;
            max-width: 150px;
            text-align: center;

            & :hover, :focus, :active {
                outline: none;
                border: 1px solid $primary-color;
            }
        }
    }

    .filterbtn {
        padding: 8px 24px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid $primary-color;
        font-size: 13px;
        font-weight: 600;

        i {
            color: $primary-color;
        }
    }

}