.mywallet {
    .mainbalance {
        color: #000;

        .card-full-detail {
            padding: 10px;

            .card-detail {
                // padding-top: 40px;
                h5 {
                    font-size: 12px;
                }
            }
            
            
        }

        .progress {
            border-radius: 20px;
        }
    }

    .wallet-balance {
        color: #fff;
        background-color: rgb(74,110,204);
        position: relative;


        .circle-1, .circle-2{
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .circle-1 {
            background-color: rgb(244,244,244);
            opacity: .5;
        }

        .circle-2 {
            background-color: rgb(244,244,244);
            position: absolute;
            left: 43px;
            top: 20px;
            z-index: 99;
            opacity: .5;
        }

        h3 {
            padding-top: 20px;
        }

        .details {
            margin-top: 20px;
            // padding: 10px 20px;
            background-color:rgb(236,239,248);
            border-radius: 20px;

            .icon {
                padding-top: 20px;
                i {
                    padding: 16px;
                    border-radius: 14px;
                    font-size: 16px;
                    text-align: center;
                }
                p {
                    font-size: 12px;
                    padding-top: 10px;
                    color: black;
                    text-align: center;
                }
            }
        }
    }

    // 2nd row 
    .usercard {
        color: black;

        h4 {
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-size: 12px;
        }

        .chats {
            border-bottom: 1px solid black;
            padding: 10px 0;
            img {
                border-radius: 50%;
                padding-right: 20px;
            }
            .username {
                h5 {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                }
                small {
                    font-size: 11px;
                    padding: 0;
                    margin: 0;
                }
            }
            .prize h5 {
                font-size: 14px;
                font-weight: bold;
                padding-left: 15px;
            }
        }
    }
}