.card-center {
    .card {
        color: #000;  
    }

   
    .filterbtn {
        padding: 8px 14px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid $primary-color;
        font-size: 13px;
        font-weight: 600;

        i, a {
            color: $primary-color;
        }
   
    }
}

.slider {
    
}