.transaction-history {
    color: #000;

    .user {
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;

        .user-proof {
            border-bottom: 1px solid rgb(234,234,234) ;
    
    
            .phone i, .email i, span {
                color: rgb(36,29,106);
                font-weight: 600;
            }
    
            .printbtn {
                padding: 8px 16px;
                background-color:rgb(234,234,234) ;
                border: none;
                outline: none;
                border-radius: 15px;
                margin-right: 10px;
        
                a {
                    color: #fff;
                }
        
            }
        
            .downloadbtn a {
                color: #fff;
            }
        }
    
        .user-table {
            span {
                font-weight: 600;
            }
    
            .money {
                background-color: rgb(254,246,225);
                padding: 14px 20px;
                border-radius: 15px;
                .doller {
                    padding: 5px 14px;
                    color: #fff;
                    background-color:rgb(255,116,39);
                    border-radius: 10px;
                    margin-right: 20px;
                }
            }
        }

    }

    .description {
        background-color: #fff;
        border-radius: 20px;
        // padding: 20px;

    }

    
    // blue card 
    .wallet-balance {
        color: #fff;
        background-color: rgb(74,110,204);
        position: relative;

        .circle-1, .circle-2{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: rgb(151,169,215);
        }

        .circle-2 {
            position: absolute;
            left: 45px;
            top: 20px;
        }

        h3 {
            padding-top: 20px;
        }

        .details {
            margin-top: 20px;
            // padding: 10px 20px;
            background-color:rgb(236,239,248);
            border-radius: 20px;

            .icon {
                padding-top: 20px;
                i {
                    padding: 16px;
                    border-radius: 14px;
                    font-size: 16px;
                    text-align: center;
                }
                p {
                    font-size: 12px;
                    padding-top: 10px;
                    color: black;
                    text-align: center;
                }
            }
        }
    }


    
}


// .transaction page scss 

.status-button {
    background-color: #fff;
    padding: 7px;
    border-radius: 20px;

    .btn {
        font-size: 12px;
    }

    a {
        color: #000;
        padding:0 10px ;
    }
}

