// sidebar starts 
.sidebar {
    width: 240px;
    position: fixed;
    margin: 15px;
    border-radius: 20px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #fff;
    transition: all 0.3s;

    ul {


        li {
            margin:15px 0 0 22px;
            a {
                padding: 16px 36px;
                // margin-bottom: 10px;
                border-radius: 14px;
                color: #000;
                opacity: 50%;

                &:hover {
                    color: $primary-color;
                    background-color: $secondary-color;
                    opacity: 100%;

                }

                i {
                    padding-right: 10px;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .active {
                color: $primary-color;
                background-color: $secondary-color;
            }
            .user {
                border: 1px solid $primary-color;

            }
        }
    }

    
}





// sidebar ends 