
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
// .table-title .btn {
//     color: #566787;
//     float: right;
//     font-size: 13px;
//     background: #fff;
//     border: none;
//     min-width: 50px;
//     border-radius: 2px;
//     border: none;
//     outline: none !important;
//     margin-left: 10px;
// }
// .table-title .btn:hover, .table-title .btn:focus {
//     color: #566787;
//     background: #f2f2f2;
// }
// .table-title .btn i {
//     float: left;
//     font-size: 21px;
//     margin-right: 5px;
// }
// .table-title .btn span {
//     float: left;
//     margin-top: 2px;
// }
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
// table.table td a.settings {
//     color: #2196F3;
// }
// table.table td a.delete {
//     color: #F44336;
// }
// table.table td i {
//     font-size: 19px;
// }
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}

.task {
    color: #fff;
    padding: 10px 16px;
    border-radius: 16px;
    font-weight: bold;
}

.completed {
    color: rgb(108,228,106);
    background-color:rgb(236,255,235) ;
}

.pending {
    color: rgb(254,122,122);
    background-color: rgb(255,237,237);
}

.cancelled {
    color: rgb(170,174,177);
    background-color: rgb(239,239,239);
}












// pagination 
.clearfix {
    padding-top: 45px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
    padding: 10px;
    background-color: rgb(240,240,240);
    border-radius: 10px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    font-weight: bold;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: $primary-color;
}
.pagination li.active a:hover {        
    background: $primary-color;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
